<div class="footer">
    <div class="panel panel_type_white billing-dynamics footer__panel footer__panel_name_billing-dynamics" data-footer-state="sun">
        <div class="billing-dynamics__graph-wrapper">
            <ul class="billing-dynamics__graph">
                <li class="billing-dynamics__graph-point">
                    <span class="billing-dynamics__graph-point-value">
                        100
                    </span>
                </li>
                <li class="billing-dynamics__graph-point">
                    <span class="billing-dynamics__graph-point-value">
                        150
                    </span>
                </li>
                <li class="billing-dynamics__graph-point">
                    <span class="billing-dynamics__graph-point-value">
                        200
                    </span>
                </li>
                <li class="billing-dynamics__graph-point">
                    <span class="billing-dynamics__graph-point-value">
                        250
                    </span>
                </li>
            </ul>
        </div>
        <p class="billing-dynamics__description">
            Динамика среднего чека (в руб)
        </p>
    </div>

    <div class="panel panel_type_white lightness-panel footer__panel footer__panel_name_lightness" data-footer-state="page2">
        <div class="lightness-panel__counter">00 : 02 : 25</div>
        <div class="lightness-panel__version lightness-panel__version_of_new-api">
            <span class="lightness-panel__version-title">Новый API</span>
            <span class="lightness-panel__progress-bar"></span>
            <p class="lightness-panel__version-speed-level">
                JS код: 358,8 KB  /  CSS код: 89,0 KB
            </p>
        </div>
        <div class="lightness-panel__version lightness-panel__version_of_old-api">
            <span class="lightness-panel__version-title">Старый API</span>
            <span class="lightness-panel__progress-bar"></span>
            <p class="lightness-panel__version-speed-level">
                JS код: 687,6 KB  /  CSS код: 60,4 KB
            </p>
        </div>
    </div>

    <div class="panel panel_type_white bankomats-panel footer__panel footer__panel_name_atm" data-footer-state="two-markers">
        <span class="bankomats-panel__title">Банкоматы<br />Москвы</span>
    </div>

    <div class="footer__panel footer__panel_name_links" data-footer-state="page7">
        <a class="footer__link" href="#" title="">Документация</a>
        <a class="footer__link" href="#" title="">Примеры</a>
        <a class="footer__link" href="#" title="">Идеи и вопросы</a>
    </div>
</div>
