<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title></title>

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="./css/style.ie.css" type="text/css" media="screen" charset="utf-8" />
    <![endif]-->

    <!--[if gt IE 9 | !IE]> -->
        <link rel="stylesheet" href="./css/style.css" type="text/css" />
    <!-- <![endif]-->
</head>
