{{#layout}}
    {{> map}}
    <div class="intro">
        <h1 class="intro__header">
            API <span class="intro__api-version">2.0</span>
            <span class="intro__subheader">Карты по-новому</span>
        </h1>
    </div>
{{/layout}}
