{{#layout}}
    <div class="map"></div>
    {{> header}}
    <div class="footer">
        <div class="panel panel_type_white bankomats-panel footer__panel">
            <span class="bankomats-panel__title">Банкоматы<br />Москвы</span>
        </div>
        <a class="footer__2gis-logotype-dark" href="#" title="">2GIS</a>
    </div>
{{/layout}}
