{{#layout}}
    {{> map}}
    <div class="start">
        <div class="start__content">
            <a class="start__button" href="http://api.2gis.ru/doc/maps/quickstart/" title="Быстрый старт">Быстрый старт</a>
            <div class="follow-us">
                <a class="follow-us__link follow-us__link_name_twitter" href="https://twitter.com/api2gis" title="Следи за нами в Твиттере">Следи за нами в Твиттере</a>
                <a class="follow-us__link follow-us__link_name_facebook" href="https://www.facebook.com/api.2gis.ru" title="Следи за нами в Фейсбуке">Следи за нами в Фейсбуке</a>
                <a class="follow-us__link follow-us__link_name_vk" href="https://vk.com/api2gis" title="Следи за нами во Вконтакте">Следи за нами во Вконтакте</a>
            </div>
        </div>
    </div>
    {{> footer}}
{{/layout}}
