{{#layout}}
    {{> map}}
    <div class="start">
        <div class="start__content">
            <a class="start__button" href="#" title="">Быстрый старт</a>
            <div class="follow-us">
                <a class="follow-us__link follow-us__link_name_twitter" href="#" title="Следи за нами в Твиттере">Следи за нами в Твиттере</a>
                <a class="follow-us__link follow-us__link_name_facebook" href="#" title="Следи за нами в Фейсбуке">Следи за нами в Фейсбуке</a>
                <a class="follow-us__link follow-us__link_name_vk" href="#" title="Следи за нами во Вконтакте">Следи за нами во Вконтакте</a>
            </div>
        </div>
    </div>
    {{> footer}}
{{/layout}}
