  @sprite-2gis-logotype-dark3x-x: 0px;
  @sprite-2gis-logotype-dark3x-y: 975px;
  @sprite-2gis-logotype-dark3x-offset-x: 0px;
  @sprite-2gis-logotype-dark3x-offset-y: -975px;
  @sprite-2gis-logotype-dark3x-width: 210px;
  @sprite-2gis-logotype-dark3x-height: 93px;
  @sprite-2gis-logotype-dark3x-total-width: 336px;
  @sprite-2gis-logotype-dark3x-total-height: 1317px;
  @sprite-2gis-logotype-dark3x-image: 'sprite@3x.png';
  @sprite-2gis-logotype-dark3x: 0px 975px 0px -975px 210px 93px 336px 1317px 'sprite@3x.png';
  @sprite-2gis-logotype3x-x: 0px;
  @sprite-2gis-logotype3x-y: 1170px;
  @sprite-2gis-logotype3x-offset-x: 0px;
  @sprite-2gis-logotype3x-offset-y: -1170px;
  @sprite-2gis-logotype3x-width: 336px;
  @sprite-2gis-logotype3x-height: 147px;
  @sprite-2gis-logotype3x-total-width: 336px;
  @sprite-2gis-logotype3x-total-height: 1317px;
  @sprite-2gis-logotype3x-image: 'sprite@3x.png';
  @sprite-2gis-logotype3x: 0px 1170px 0px -1170px 336px 147px 336px 1317px 'sprite@3x.png';
  @sprite-array-down3x-x: 0px;
  @sprite-array-down3x-y: 0px;
  @sprite-array-down3x-offset-x: 0px;
  @sprite-array-down3x-offset-y: 0px;
  @sprite-array-down3x-width: 60px;
  @sprite-array-down3x-height: 33px;
  @sprite-array-down3x-total-width: 336px;
  @sprite-array-down3x-total-height: 1317px;
  @sprite-array-down3x-image: 'sprite@3x.png';
  @sprite-array-down3x: 0px 0px 0px 0px 60px 33px 336px 1317px 'sprite@3x.png';
  @sprite-arrow-left3x-x: 0px;
  @sprite-arrow-left3x-y: 150px;
  @sprite-arrow-left3x-offset-x: 0px;
  @sprite-arrow-left3x-offset-y: -150px;
  @sprite-arrow-left3x-width: 33px;
  @sprite-arrow-left3x-height: 60px;
  @sprite-arrow-left3x-total-width: 336px;
  @sprite-arrow-left3x-total-height: 1317px;
  @sprite-arrow-left3x-image: 'sprite@3x.png';
  @sprite-arrow-left3x: 0px 150px 0px -150px 33px 60px 336px 1317px 'sprite@3x.png';
  @sprite-arrow-right3x-x: 0px;
  @sprite-arrow-right3x-y: 210px;
  @sprite-arrow-right3x-offset-x: 0px;
  @sprite-arrow-right3x-offset-y: -210px;
  @sprite-arrow-right3x-width: 33px;
  @sprite-arrow-right3x-height: 60px;
  @sprite-arrow-right3x-total-width: 336px;
  @sprite-arrow-right3x-total-height: 1317px;
  @sprite-arrow-right3x-image: 'sprite@3x.png';
  @sprite-arrow-right3x: 0px 210px 0px -210px 33px 60px 336px 1317px 'sprite@3x.png';
  @sprite-bank-card3x-x: 0px;
  @sprite-bank-card3x-y: 552px;
  @sprite-bank-card3x-offset-x: 0px;
  @sprite-bank-card3x-offset-y: -552px;
  @sprite-bank-card3x-width: 111px;
  @sprite-bank-card3x-height: 78px;
  @sprite-bank-card3x-total-width: 336px;
  @sprite-bank-card3x-total-height: 1317px;
  @sprite-bank-card3x-image: 'sprite@3x.png';
  @sprite-bank-card3x: 0px 552px 0px -552px 111px 78px 336px 1317px 'sprite@3x.png';
  @sprite-broom-black3x-x: 0px;
  @sprite-broom-black3x-y: 630px;
  @sprite-broom-black3x-offset-x: 0px;
  @sprite-broom-black3x-offset-y: -630px;
  @sprite-broom-black3x-width: 75px;
  @sprite-broom-black3x-height: 81px;
  @sprite-broom-black3x-total-width: 336px;
  @sprite-broom-black3x-total-height: 1317px;
  @sprite-broom-black3x-image: 'sprite@3x.png';
  @sprite-broom-black3x: 0px 630px 0px -630px 75px 81px 336px 1317px 'sprite@3x.png';
  @sprite-broom-white3x-x: 0px;
  @sprite-broom-white3x-y: 477px;
  @sprite-broom-white3x-offset-x: 0px;
  @sprite-broom-white3x-offset-y: -477px;
  @sprite-broom-white3x-width: 75px;
  @sprite-broom-white3x-height: 75px;
  @sprite-broom-white3x-total-width: 336px;
  @sprite-broom-white3x-total-height: 1317px;
  @sprite-broom-white3x-image: 'sprite@3x.png';
  @sprite-broom-white3x: 0px 477px 0px -477px 75px 75px 336px 1317px 'sprite@3x.png';
  @sprite-callout3x-x: 0px;
  @sprite-callout3x-y: 33px;
  @sprite-callout3x-offset-x: 0px;
  @sprite-callout3x-offset-y: -33px;
  @sprite-callout3x-width: 27px;
  @sprite-callout3x-height: 33px;
  @sprite-callout3x-total-width: 336px;
  @sprite-callout3x-total-height: 1317px;
  @sprite-callout3x-image: 'sprite@3x.png';
  @sprite-callout3x: 0px 33px 0px -33px 27px 33px 336px 1317px 'sprite@3x.png';
  @sprite-entrance3x-x: 0px;
  @sprite-entrance3x-y: 66px;
  @sprite-entrance3x-offset-x: 0px;
  @sprite-entrance3x-offset-y: -66px;
  @sprite-entrance3x-width: 36px;
  @sprite-entrance3x-height: 36px;
  @sprite-entrance3x-total-width: 336px;
  @sprite-entrance3x-total-height: 1317px;
  @sprite-entrance3x-image: 'sprite@3x.png';
  @sprite-entrance3x: 0px 66px 0px -66px 36px 36px 336px 1317px 'sprite@3x.png';
  @sprite-facebook3x-x: 0px;
  @sprite-facebook3x-y: 711px;
  @sprite-facebook3x-offset-x: 0px;
  @sprite-facebook3x-offset-y: -711px;
  @sprite-facebook3x-width: 45px;
  @sprite-facebook3x-height: 87px;
  @sprite-facebook3x-total-width: 336px;
  @sprite-facebook3x-total-height: 1317px;
  @sprite-facebook3x-image: 'sprite@3x.png';
  @sprite-facebook3x: 0px 711px 0px -711px 45px 87px 336px 1317px 'sprite@3x.png';
  @sprite-marker3x-x: 0px;
  @sprite-marker3x-y: 798px;
  @sprite-marker3x-offset-x: 0px;
  @sprite-marker3x-offset-y: -798px;
  @sprite-marker3x-width: 51px;
  @sprite-marker3x-height: 87px;
  @sprite-marker3x-total-width: 336px;
  @sprite-marker3x-total-height: 1317px;
  @sprite-marker3x-image: 'sprite@3x.png';
  @sprite-marker3x: 0px 798px 0px -798px 51px 87px 336px 1317px 'sprite@3x.png';
  @sprite-pause3x-x: 0px;
  @sprite-pause3x-y: 102px;
  @sprite-pause3x-offset-x: 0px;
  @sprite-pause3x-offset-y: -102px;
  @sprite-pause3x-width: 30px;
  @sprite-pause3x-height: 48px;
  @sprite-pause3x-total-width: 336px;
  @sprite-pause3x-total-height: 1317px;
  @sprite-pause3x-image: 'sprite@3x.png';
  @sprite-pause3x: 0px 102px 0px -102px 30px 48px 336px 1317px 'sprite@3x.png';
  @sprite-play3x-x: 0px;
  @sprite-play3x-y: 270px;
  @sprite-play3x-offset-x: 0px;
  @sprite-play3x-offset-y: -270px;
  @sprite-play3x-width: 33px;
  @sprite-play3x-height: 60px;
  @sprite-play3x-total-width: 336px;
  @sprite-play3x-total-height: 1317px;
  @sprite-play3x-image: 'sprite@3x.png';
  @sprite-play3x: 0px 270px 0px -270px 33px 60px 336px 1317px 'sprite@3x.png';
  @sprite-sun3x-x: 0px;
  @sprite-sun3x-y: 1068px;
  @sprite-sun3x-offset-x: 0px;
  @sprite-sun3x-offset-y: -1068px;
  @sprite-sun3x-width: 96px;
  @sprite-sun3x-height: 102px;
  @sprite-sun3x-total-width: 336px;
  @sprite-sun3x-total-height: 1317px;
  @sprite-sun3x-image: 'sprite@3x.png';
  @sprite-sun3x: 0px 1068px 0px -1068px 96px 102px 336px 1317px 'sprite@3x.png';
  @sprite-twitter3x-x: 0px;
  @sprite-twitter3x-y: 330px;
  @sprite-twitter3x-offset-x: 0px;
  @sprite-twitter3x-offset-y: -330px;
  @sprite-twitter3x-width: 81px;
  @sprite-twitter3x-height: 72px;
  @sprite-twitter3x-total-width: 336px;
  @sprite-twitter3x-total-height: 1317px;
  @sprite-twitter3x-image: 'sprite@3x.png';
  @sprite-twitter3x: 0px 330px 0px -330px 81px 72px 336px 1317px 'sprite@3x.png';
  @sprite-two-markers3x-x: 0px;
  @sprite-two-markers3x-y: 885px;
  @sprite-two-markers3x-offset-x: 0px;
  @sprite-two-markers3x-offset-y: -885px;
  @sprite-two-markers3x-width: 75px;
  @sprite-two-markers3x-height: 90px;
  @sprite-two-markers3x-total-width: 336px;
  @sprite-two-markers3x-total-height: 1317px;
  @sprite-two-markers3x-image: 'sprite@3x.png';
  @sprite-two-markers3x: 0px 885px 0px -885px 75px 90px 336px 1317px 'sprite@3x.png';
  @sprite-vk3x-x: 0px;
  @sprite-vk3x-y: 402px;
  @sprite-vk3x-offset-x: 0px;
  @sprite-vk3x-offset-y: -402px;
  @sprite-vk3x-width: 54px;
  @sprite-vk3x-height: 75px;
  @sprite-vk3x-total-width: 336px;
  @sprite-vk3x-total-height: 1317px;
  @sprite-vk3x-image: 'sprite@3x.png';
  @sprite-vk3x: 0px 402px 0px -402px 54px 75px 336px 1317px 'sprite@3x.png';

  .sprite-width(@sprite) {
    width: ~`"@{sprite}".split(', ')[4]`;
  }

  .sprite-height(@sprite) {
    height: ~`"@{sprite}".split(', ')[5]`;
  }

  .sprite-position(@sprite) {
    @sprite-offset-x: ~`"@{sprite}".split(', ')[2]`;
    @sprite-offset-y: ~`"@{sprite}".split(', ')[3]`;
    background-position: @sprite-offset-x  @sprite-offset-y;
  }

  .sprite-image(@sprite) {
    @sprite-image: ~`"@{sprite}".split(', ')[8].slice(1, -2)`;
    background-image: url(@sprite-image);
  }

  .sprite(@sprite) {
    .sprite-image(@sprite);
    .sprite-position(@sprite);
    .sprite-width(@sprite);
    .sprite-height(@sprite);
  }
