  @sprite-2gis-logotype-dark2x-x: 0px;
  @sprite-2gis-logotype-dark2x-y: 1478px;
  @sprite-2gis-logotype-dark2x-offset-x: 0px;
  @sprite-2gis-logotype-dark2x-offset-y: -1478px;
  @sprite-2gis-logotype-dark2x-width: 140px;
  @sprite-2gis-logotype-dark2x-height: 62px;
  @sprite-2gis-logotype-dark2x-total-width: 224px;
  @sprite-2gis-logotype-dark2x-total-height: 1804px;
  @sprite-2gis-logotype-dark2x-image: 'sprite@2x.png';
  @sprite-2gis-logotype-dark2x: 0px 1478px 0px -1478px 140px 62px 224px 1804px 'sprite@2x.png';
  @sprite-2gis-logotype2x-x: 0px;
  @sprite-2gis-logotype2x-y: 1608px;
  @sprite-2gis-logotype2x-offset-x: 0px;
  @sprite-2gis-logotype2x-offset-y: -1608px;
  @sprite-2gis-logotype2x-width: 224px;
  @sprite-2gis-logotype2x-height: 98px;
  @sprite-2gis-logotype2x-total-width: 224px;
  @sprite-2gis-logotype2x-total-height: 1804px;
  @sprite-2gis-logotype2x-image: 'sprite@2x.png';
  @sprite-2gis-logotype2x: 0px 1608px 0px -1608px 224px 98px 224px 1804px 'sprite@2x.png';
  @sprite-__2gis-logotype-dark2x-x: 0px;
  @sprite-__2gis-logotype-dark2x-y: 1416px;
  @sprite-__2gis-logotype-dark2x-offset-x: 0px;
  @sprite-__2gis-logotype-dark2x-offset-y: -1416px;
  @sprite-__2gis-logotype-dark2x-width: 140px;
  @sprite-__2gis-logotype-dark2x-height: 62px;
  @sprite-__2gis-logotype-dark2x-total-width: 224px;
  @sprite-__2gis-logotype-dark2x-total-height: 1804px;
  @sprite-__2gis-logotype-dark2x-image: 'sprite@2x.png';
  @sprite-__2gis-logotype-dark2x: 0px 1416px 0px -1416px 140px 62px 224px 1804px 'sprite@2x.png';
  @sprite-__2gis-logotype2x-x: 0px;
  @sprite-__2gis-logotype2x-y: 1706px;
  @sprite-__2gis-logotype2x-offset-x: 0px;
  @sprite-__2gis-logotype2x-offset-y: -1706px;
  @sprite-__2gis-logotype2x-width: 224px;
  @sprite-__2gis-logotype2x-height: 98px;
  @sprite-__2gis-logotype2x-total-width: 224px;
  @sprite-__2gis-logotype2x-total-height: 1804px;
  @sprite-__2gis-logotype2x-image: 'sprite@2x.png';
  @sprite-__2gis-logotype2x: 0px 1706px 0px -1706px 224px 98px 224px 1804px 'sprite@2x.png';
  @sprite-__array-down2x-x: 0px;
  @sprite-__array-down2x-y: 0px;
  @sprite-__array-down2x-offset-x: 0px;
  @sprite-__array-down2x-offset-y: 0px;
  @sprite-__array-down2x-width: 40px;
  @sprite-__array-down2x-height: 22px;
  @sprite-__array-down2x-total-width: 224px;
  @sprite-__array-down2x-total-height: 1804px;
  @sprite-__array-down2x-image: 'sprite@2x.png';
  @sprite-__array-down2x: 0px 0px 0px 0px 40px 22px 224px 1804px 'sprite@2x.png';
  @sprite-__arrow-left-hover2x-x: 0px;
  @sprite-__arrow-left-hover2x-y: 328px;
  @sprite-__arrow-left-hover2x-offset-x: 0px;
  @sprite-__arrow-left-hover2x-offset-y: -328px;
  @sprite-__arrow-left-hover2x-width: 22px;
  @sprite-__arrow-left-hover2x-height: 40px;
  @sprite-__arrow-left-hover2x-total-width: 224px;
  @sprite-__arrow-left-hover2x-total-height: 1804px;
  @sprite-__arrow-left-hover2x-image: 'sprite@2x.png';
  @sprite-__arrow-left-hover2x: 0px 328px 0px -328px 22px 40px 224px 1804px 'sprite@2x.png';
  @sprite-__arrow-left2x-x: 0px;
  @sprite-__arrow-left2x-y: 368px;
  @sprite-__arrow-left2x-offset-x: 0px;
  @sprite-__arrow-left2x-offset-y: -368px;
  @sprite-__arrow-left2x-width: 22px;
  @sprite-__arrow-left2x-height: 40px;
  @sprite-__arrow-left2x-total-width: 224px;
  @sprite-__arrow-left2x-total-height: 1804px;
  @sprite-__arrow-left2x-image: 'sprite@2x.png';
  @sprite-__arrow-left2x: 0px 368px 0px -368px 22px 40px 224px 1804px 'sprite@2x.png';
  @sprite-__arrow-right-hover2x-x: 0px;
  @sprite-__arrow-right-hover2x-y: 408px;
  @sprite-__arrow-right-hover2x-offset-x: 0px;
  @sprite-__arrow-right-hover2x-offset-y: -408px;
  @sprite-__arrow-right-hover2x-width: 22px;
  @sprite-__arrow-right-hover2x-height: 40px;
  @sprite-__arrow-right-hover2x-total-width: 224px;
  @sprite-__arrow-right-hover2x-total-height: 1804px;
  @sprite-__arrow-right-hover2x-image: 'sprite@2x.png';
  @sprite-__arrow-right-hover2x: 0px 408px 0px -408px 22px 40px 224px 1804px 'sprite@2x.png';
  @sprite-__arrow-right2x-x: 0px;
  @sprite-__arrow-right2x-y: 488px;
  @sprite-__arrow-right2x-offset-x: 0px;
  @sprite-__arrow-right2x-offset-y: -488px;
  @sprite-__arrow-right2x-width: 22px;
  @sprite-__arrow-right2x-height: 40px;
  @sprite-__arrow-right2x-total-width: 224px;
  @sprite-__arrow-right2x-total-height: 1804px;
  @sprite-__arrow-right2x-image: 'sprite@2x.png';
  @sprite-__arrow-right2x: 0px 488px 0px -488px 22px 40px 224px 1804px 'sprite@2x.png';
  @sprite-__bank-card2x-x: 0px;
  @sprite-__bank-card2x-y: 806px;
  @sprite-__bank-card2x-offset-x: 0px;
  @sprite-__bank-card2x-offset-y: -806px;
  @sprite-__bank-card2x-width: 74px;
  @sprite-__bank-card2x-height: 52px;
  @sprite-__bank-card2x-total-width: 224px;
  @sprite-__bank-card2x-total-height: 1804px;
  @sprite-__bank-card2x-image: 'sprite@2x.png';
  @sprite-__bank-card2x: 0px 806px 0px -806px 74px 52px 224px 1804px 'sprite@2x.png';
  @sprite-__broom-black2x-x: 0px;
  @sprite-__broom-black2x-y: 962px;
  @sprite-__broom-black2x-offset-x: 0px;
  @sprite-__broom-black2x-offset-y: -962px;
  @sprite-__broom-black2x-width: 50px;
  @sprite-__broom-black2x-height: 54px;
  @sprite-__broom-black2x-total-width: 224px;
  @sprite-__broom-black2x-total-height: 1804px;
  @sprite-__broom-black2x-image: 'sprite@2x.png';
  @sprite-__broom-black2x: 0px 962px 0px -962px 50px 54px 224px 1804px 'sprite@2x.png';
  @sprite-__broom-white2x-x: 0px;
  @sprite-__broom-white2x-y: 706px;
  @sprite-__broom-white2x-offset-x: 0px;
  @sprite-__broom-white2x-offset-y: -706px;
  @sprite-__broom-white2x-width: 50px;
  @sprite-__broom-white2x-height: 50px;
  @sprite-__broom-white2x-total-width: 224px;
  @sprite-__broom-white2x-total-height: 1804px;
  @sprite-__broom-white2x-image: 'sprite@2x.png';
  @sprite-__broom-white2x: 0px 706px 0px -706px 50px 50px 224px 1804px 'sprite@2x.png';
  @sprite-__callout2x-x: 0px;
  @sprite-__callout2x-y: 22px;
  @sprite-__callout2x-offset-x: 0px;
  @sprite-__callout2x-offset-y: -22px;
  @sprite-__callout2x-width: 18px;
  @sprite-__callout2x-height: 22px;
  @sprite-__callout2x-total-width: 224px;
  @sprite-__callout2x-total-height: 1804px;
  @sprite-__callout2x-image: 'sprite@2x.png';
  @sprite-__callout2x: 0px 22px 0px -22px 18px 22px 224px 1804px 'sprite@2x.png';
  @sprite-__entrance2x-x: 0px;
  @sprite-__entrance2x-y: 88px;
  @sprite-__entrance2x-offset-x: 0px;
  @sprite-__entrance2x-offset-y: -88px;
  @sprite-__entrance2x-width: 24px;
  @sprite-__entrance2x-height: 24px;
  @sprite-__entrance2x-total-width: 224px;
  @sprite-__entrance2x-total-height: 1804px;
  @sprite-__entrance2x-image: 'sprite@2x.png';
  @sprite-__entrance2x: 0px 88px 0px -88px 24px 24px 224px 1804px 'sprite@2x.png';
  @sprite-__facebook2x-x: 0px;
  @sprite-__facebook2x-y: 1298px;
  @sprite-__facebook2x-offset-x: 0px;
  @sprite-__facebook2x-offset-y: -1298px;
  @sprite-__facebook2x-width: 30px;
  @sprite-__facebook2x-height: 58px;
  @sprite-__facebook2x-total-width: 224px;
  @sprite-__facebook2x-total-height: 1804px;
  @sprite-__facebook2x-image: 'sprite@2x.png';
  @sprite-__facebook2x: 0px 1298px 0px -1298px 30px 58px 224px 1804px 'sprite@2x.png';
  @sprite-__marker2x-x: 0px;
  @sprite-__marker2x-y: 1124px;
  @sprite-__marker2x-offset-x: 0px;
  @sprite-__marker2x-offset-y: -1124px;
  @sprite-__marker2x-width: 34px;
  @sprite-__marker2x-height: 58px;
  @sprite-__marker2x-total-width: 224px;
  @sprite-__marker2x-total-height: 1804px;
  @sprite-__marker2x-image: 'sprite@2x.png';
  @sprite-__marker2x: 0px 1124px 0px -1124px 34px 58px 224px 1804px 'sprite@2x.png';
  @sprite-__notebook2x-x: 0px;
  @sprite-__notebook2x-y: 448px;
  @sprite-__notebook2x-offset-x: 0px;
  @sprite-__notebook2x-offset-y: -448px;
  @sprite-__notebook2x-width: 58px;
  @sprite-__notebook2x-height: 40px;
  @sprite-__notebook2x-total-width: 224px;
  @sprite-__notebook2x-total-height: 1804px;
  @sprite-__notebook2x-image: 'sprite@2x.png';
  @sprite-__notebook2x: 0px 448px 0px -448px 58px 40px 224px 1804px 'sprite@2x.png';
  @sprite-array-down2x-x: 0px;
  @sprite-array-down2x-y: 66px;
  @sprite-array-down2x-offset-x: 0px;
  @sprite-array-down2x-offset-y: -66px;
  @sprite-array-down2x-width: 40px;
  @sprite-array-down2x-height: 22px;
  @sprite-array-down2x-total-width: 224px;
  @sprite-array-down2x-total-height: 1804px;
  @sprite-array-down2x-image: 'sprite@2x.png';
  @sprite-array-down2x: 0px 66px 0px -66px 40px 22px 224px 1804px 'sprite@2x.png';
  @sprite-arrow-left-hover2x-x: 0px;
  @sprite-arrow-left-hover2x-y: 528px;
  @sprite-arrow-left-hover2x-offset-x: 0px;
  @sprite-arrow-left-hover2x-offset-y: -528px;
  @sprite-arrow-left-hover2x-width: 22px;
  @sprite-arrow-left-hover2x-height: 40px;
  @sprite-arrow-left-hover2x-total-width: 224px;
  @sprite-arrow-left-hover2x-total-height: 1804px;
  @sprite-arrow-left-hover2x-image: 'sprite@2x.png';
  @sprite-arrow-left-hover2x: 0px 528px 0px -528px 22px 40px 224px 1804px 'sprite@2x.png';
  @sprite-arrow-left2x-x: 0px;
  @sprite-arrow-left2x-y: 288px;
  @sprite-arrow-left2x-offset-x: 0px;
  @sprite-arrow-left2x-offset-y: -288px;
  @sprite-arrow-left2x-width: 22px;
  @sprite-arrow-left2x-height: 40px;
  @sprite-arrow-left2x-total-width: 224px;
  @sprite-arrow-left2x-total-height: 1804px;
  @sprite-arrow-left2x-image: 'sprite@2x.png';
  @sprite-arrow-left2x: 0px 288px 0px -288px 22px 40px 224px 1804px 'sprite@2x.png';
  @sprite-arrow-right-hover2x-x: 0px;
  @sprite-arrow-right-hover2x-y: 248px;
  @sprite-arrow-right-hover2x-offset-x: 0px;
  @sprite-arrow-right-hover2x-offset-y: -248px;
  @sprite-arrow-right-hover2x-width: 22px;
  @sprite-arrow-right-hover2x-height: 40px;
  @sprite-arrow-right-hover2x-total-width: 224px;
  @sprite-arrow-right-hover2x-total-height: 1804px;
  @sprite-arrow-right-hover2x-image: 'sprite@2x.png';
  @sprite-arrow-right-hover2x: 0px 248px 0px -248px 22px 40px 224px 1804px 'sprite@2x.png';
  @sprite-arrow-right2x-x: 0px;
  @sprite-arrow-right2x-y: 568px;
  @sprite-arrow-right2x-offset-x: 0px;
  @sprite-arrow-right2x-offset-y: -568px;
  @sprite-arrow-right2x-width: 22px;
  @sprite-arrow-right2x-height: 40px;
  @sprite-arrow-right2x-total-width: 224px;
  @sprite-arrow-right2x-total-height: 1804px;
  @sprite-arrow-right2x-image: 'sprite@2x.png';
  @sprite-arrow-right2x: 0px 568px 0px -568px 22px 40px 224px 1804px 'sprite@2x.png';
  @sprite-bank-card2x-x: 0px;
  @sprite-bank-card2x-y: 858px;
  @sprite-bank-card2x-offset-x: 0px;
  @sprite-bank-card2x-offset-y: -858px;
  @sprite-bank-card2x-width: 74px;
  @sprite-bank-card2x-height: 52px;
  @sprite-bank-card2x-total-width: 224px;
  @sprite-bank-card2x-total-height: 1804px;
  @sprite-bank-card2x-image: 'sprite@2x.png';
  @sprite-bank-card2x: 0px 858px 0px -858px 74px 52px 224px 1804px 'sprite@2x.png';
  @sprite-broom-black2x-x: 0px;
  @sprite-broom-black2x-y: 1016px;
  @sprite-broom-black2x-offset-x: 0px;
  @sprite-broom-black2x-offset-y: -1016px;
  @sprite-broom-black2x-width: 50px;
  @sprite-broom-black2x-height: 54px;
  @sprite-broom-black2x-total-width: 224px;
  @sprite-broom-black2x-total-height: 1804px;
  @sprite-broom-black2x-image: 'sprite@2x.png';
  @sprite-broom-black2x: 0px 1016px 0px -1016px 50px 54px 224px 1804px 'sprite@2x.png';
  @sprite-broom-white2x-x: 0px;
  @sprite-broom-white2x-y: 656px;
  @sprite-broom-white2x-offset-x: 0px;
  @sprite-broom-white2x-offset-y: -656px;
  @sprite-broom-white2x-width: 50px;
  @sprite-broom-white2x-height: 50px;
  @sprite-broom-white2x-total-width: 224px;
  @sprite-broom-white2x-total-height: 1804px;
  @sprite-broom-white2x-image: 'sprite@2x.png';
  @sprite-broom-white2x: 0px 656px 0px -656px 50px 50px 224px 1804px 'sprite@2x.png';
  @sprite-callout2x-x: 0px;
  @sprite-callout2x-y: 44px;
  @sprite-callout2x-offset-x: 0px;
  @sprite-callout2x-offset-y: -44px;
  @sprite-callout2x-width: 18px;
  @sprite-callout2x-height: 22px;
  @sprite-callout2x-total-width: 224px;
  @sprite-callout2x-total-height: 1804px;
  @sprite-callout2x-image: 'sprite@2x.png';
  @sprite-callout2x: 0px 44px 0px -44px 18px 22px 224px 1804px 'sprite@2x.png';
  @sprite-entrance2x-x: 0px;
  @sprite-entrance2x-y: 112px;
  @sprite-entrance2x-offset-x: 0px;
  @sprite-entrance2x-offset-y: -112px;
  @sprite-entrance2x-width: 24px;
  @sprite-entrance2x-height: 24px;
  @sprite-entrance2x-total-width: 224px;
  @sprite-entrance2x-total-height: 1804px;
  @sprite-entrance2x-image: 'sprite@2x.png';
  @sprite-entrance2x: 0px 112px 0px -112px 24px 24px 224px 1804px 'sprite@2x.png';
  @sprite-facebook2x-x: 0px;
  @sprite-facebook2x-y: 1182px;
  @sprite-facebook2x-offset-x: 0px;
  @sprite-facebook2x-offset-y: -1182px;
  @sprite-facebook2x-width: 30px;
  @sprite-facebook2x-height: 58px;
  @sprite-facebook2x-total-width: 224px;
  @sprite-facebook2x-total-height: 1804px;
  @sprite-facebook2x-image: 'sprite@2x.png';
  @sprite-facebook2x: 0px 1182px 0px -1182px 30px 58px 224px 1804px 'sprite@2x.png';
  @sprite-marker2x-x: 0px;
  @sprite-marker2x-y: 1240px;
  @sprite-marker2x-offset-x: 0px;
  @sprite-marker2x-offset-y: -1240px;
  @sprite-marker2x-width: 34px;
  @sprite-marker2x-height: 58px;
  @sprite-marker2x-total-width: 224px;
  @sprite-marker2x-total-height: 1804px;
  @sprite-marker2x-image: 'sprite@2x.png';
  @sprite-marker2x: 0px 1240px 0px -1240px 34px 58px 224px 1804px 'sprite@2x.png';
  @sprite-notebook2x-x: 0px;
  @sprite-notebook2x-y: 168px;
  @sprite-notebook2x-offset-x: 0px;
  @sprite-notebook2x-offset-y: -168px;
  @sprite-notebook2x-width: 58px;
  @sprite-notebook2x-height: 40px;
  @sprite-notebook2x-total-width: 224px;
  @sprite-notebook2x-total-height: 1804px;
  @sprite-notebook2x-image: 'sprite@2x.png';
  @sprite-notebook2x: 0px 168px 0px -168px 58px 40px 224px 1804px 'sprite@2x.png';
  @sprite-pause2x-x: 0px;
  @sprite-pause2x-y: 136px;
  @sprite-pause2x-offset-x: 0px;
  @sprite-pause2x-offset-y: -136px;
  @sprite-pause2x-width: 20px;
  @sprite-pause2x-height: 32px;
  @sprite-pause2x-total-width: 224px;
  @sprite-pause2x-total-height: 1804px;
  @sprite-pause2x-image: 'sprite@2x.png';
  @sprite-pause2x: 0px 136px 0px -136px 20px 32px 224px 1804px 'sprite@2x.png';
  @sprite-play2x-x: 0px;
  @sprite-play2x-y: 208px;
  @sprite-play2x-offset-x: 0px;
  @sprite-play2x-offset-y: -208px;
  @sprite-play2x-width: 22px;
  @sprite-play2x-height: 40px;
  @sprite-play2x-total-width: 224px;
  @sprite-play2x-total-height: 1804px;
  @sprite-play2x-image: 'sprite@2x.png';
  @sprite-play2x: 0px 208px 0px -208px 22px 40px 224px 1804px 'sprite@2x.png';
  @sprite-smartphone2x-x: 0px;
  @sprite-smartphone2x-y: 910px;
  @sprite-smartphone2x-offset-x: 0px;
  @sprite-smartphone2x-offset-y: -910px;
  @sprite-smartphone2x-width: 30px;
  @sprite-smartphone2x-height: 52px;
  @sprite-smartphone2x-total-width: 224px;
  @sprite-smartphone2x-total-height: 1804px;
  @sprite-smartphone2x-image: 'sprite@2x.png';
  @sprite-smartphone2x: 0px 910px 0px -910px 30px 52px 224px 1804px 'sprite@2x.png';
  @sprite-sun2x-x: 0px;
  @sprite-sun2x-y: 1540px;
  @sprite-sun2x-offset-x: 0px;
  @sprite-sun2x-offset-y: -1540px;
  @sprite-sun2x-width: 64px;
  @sprite-sun2x-height: 68px;
  @sprite-sun2x-total-width: 224px;
  @sprite-sun2x-total-height: 1804px;
  @sprite-sun2x-image: 'sprite@2x.png';
  @sprite-sun2x: 0px 1540px 0px -1540px 64px 68px 224px 1804px 'sprite@2x.png';
  @sprite-tablet2x-x: 0px;
  @sprite-tablet2x-y: 1070px;
  @sprite-tablet2x-offset-x: 0px;
  @sprite-tablet2x-offset-y: -1070px;
  @sprite-tablet2x-width: 42px;
  @sprite-tablet2x-height: 54px;
  @sprite-tablet2x-total-width: 224px;
  @sprite-tablet2x-total-height: 1804px;
  @sprite-tablet2x-image: 'sprite@2x.png';
  @sprite-tablet2x: 0px 1070px 0px -1070px 42px 54px 224px 1804px 'sprite@2x.png';
  @sprite-twitter2x-x: 0px;
  @sprite-twitter2x-y: 608px;
  @sprite-twitter2x-offset-x: 0px;
  @sprite-twitter2x-offset-y: -608px;
  @sprite-twitter2x-width: 54px;
  @sprite-twitter2x-height: 48px;
  @sprite-twitter2x-total-width: 224px;
  @sprite-twitter2x-total-height: 1804px;
  @sprite-twitter2x-image: 'sprite@2x.png';
  @sprite-twitter2x: 0px 608px 0px -608px 54px 48px 224px 1804px 'sprite@2x.png';
  @sprite-two-markers2x-x: 0px;
  @sprite-two-markers2x-y: 1356px;
  @sprite-two-markers2x-offset-x: 0px;
  @sprite-two-markers2x-offset-y: -1356px;
  @sprite-two-markers2x-width: 50px;
  @sprite-two-markers2x-height: 60px;
  @sprite-two-markers2x-total-width: 224px;
  @sprite-two-markers2x-total-height: 1804px;
  @sprite-two-markers2x-image: 'sprite@2x.png';
  @sprite-two-markers2x: 0px 1356px 0px -1356px 50px 60px 224px 1804px 'sprite@2x.png';
  @sprite-vk2x-x: 0px;
  @sprite-vk2x-y: 756px;
  @sprite-vk2x-offset-x: 0px;
  @sprite-vk2x-offset-y: -756px;
  @sprite-vk2x-width: 36px;
  @sprite-vk2x-height: 50px;
  @sprite-vk2x-total-width: 224px;
  @sprite-vk2x-total-height: 1804px;
  @sprite-vk2x-image: 'sprite@2x.png';
  @sprite-vk2x: 0px 756px 0px -756px 36px 50px 224px 1804px 'sprite@2x.png';

  .sprite-width(@sprite) {
    width: ~`"@{sprite}".split(', ')[4]`;
  }

  .sprite-height(@sprite) {
    height: ~`"@{sprite}".split(', ')[5]`;
  }

  .sprite-position(@sprite) {
    @sprite-offset-x: ~`"@{sprite}".split(', ')[2]`;
    @sprite-offset-y: ~`"@{sprite}".split(', ')[3]`;
    background-position: @sprite-offset-x  @sprite-offset-y;
  }

  .sprite-image(@sprite) {
    @sprite-image: ~`"@{sprite}".split(', ')[8].slice(1, -2)`;
    background-image: url(@sprite-image);
  }

  .sprite(@sprite) {
    .sprite-image(@sprite);
    .sprite-position(@sprite);
    .sprite-width(@sprite);
    .sprite-height(@sprite);
  }
