  @sprite-2gis-logotype-dark15x-x: 0px;
  @sprite-2gis-logotype-dark15x-y: 551px;
  @sprite-2gis-logotype-dark15x-offset-x: 0px;
  @sprite-2gis-logotype-dark15x-offset-y: -551px;
  @sprite-2gis-logotype-dark15x-width: 105px;
  @sprite-2gis-logotype-dark15x-height: 47px;
  @sprite-2gis-logotype-dark15x-total-width: 168px;
  @sprite-2gis-logotype-dark15x-total-height: 723px;
  @sprite-2gis-logotype-dark15x-image: 'sprite@1.5x.png';
  @sprite-2gis-logotype-dark15x: 0px 551px 0px -551px 105px 47px 168px 723px 'sprite@1.5x.png';
  @sprite-2gis-logotype15x-x: 0px;
  @sprite-2gis-logotype15x-y: 649px;
  @sprite-2gis-logotype15x-offset-x: 0px;
  @sprite-2gis-logotype15x-offset-y: -649px;
  @sprite-2gis-logotype15x-width: 168px;
  @sprite-2gis-logotype15x-height: 74px;
  @sprite-2gis-logotype15x-total-width: 168px;
  @sprite-2gis-logotype15x-total-height: 723px;
  @sprite-2gis-logotype15x-image: 'sprite@1.5x.png';
  @sprite-2gis-logotype15x: 0px 649px 0px -649px 168px 74px 168px 723px 'sprite@1.5x.png';
  @sprite-array-down15x-x: 0px;
  @sprite-array-down15x-y: 17px;
  @sprite-array-down15x-offset-x: 0px;
  @sprite-array-down15x-offset-y: -17px;
  @sprite-array-down15x-width: 30px;
  @sprite-array-down15x-height: 17px;
  @sprite-array-down15x-total-width: 168px;
  @sprite-array-down15x-total-height: 723px;
  @sprite-array-down15x-image: 'sprite@1.5x.png';
  @sprite-array-down15x: 0px 17px 0px -17px 30px 17px 168px 723px 'sprite@1.5x.png';
  @sprite-arrow-left-hover15x-x: 0px;
  @sprite-arrow-left-hover15x-y: 76px;
  @sprite-arrow-left-hover15x-offset-x: 0px;
  @sprite-arrow-left-hover15x-offset-y: -76px;
  @sprite-arrow-left-hover15x-width: 17px;
  @sprite-arrow-left-hover15x-height: 30px;
  @sprite-arrow-left-hover15x-total-width: 168px;
  @sprite-arrow-left-hover15x-total-height: 723px;
  @sprite-arrow-left-hover15x-image: 'sprite@1.5x.png';
  @sprite-arrow-left-hover15x: 0px 76px 0px -76px 17px 30px 168px 723px 'sprite@1.5x.png';
  @sprite-arrow-left15x-x: 0px;
  @sprite-arrow-left15x-y: 106px;
  @sprite-arrow-left15x-offset-x: 0px;
  @sprite-arrow-left15x-offset-y: -106px;
  @sprite-arrow-left15x-width: 17px;
  @sprite-arrow-left15x-height: 30px;
  @sprite-arrow-left15x-total-width: 168px;
  @sprite-arrow-left15x-total-height: 723px;
  @sprite-arrow-left15x-image: 'sprite@1.5x.png';
  @sprite-arrow-left15x: 0px 106px 0px -106px 17px 30px 168px 723px 'sprite@1.5x.png';
  @sprite-arrow-right-hover15x-x: 0px;
  @sprite-arrow-right-hover15x-y: 136px;
  @sprite-arrow-right-hover15x-offset-x: 0px;
  @sprite-arrow-right-hover15x-offset-y: -136px;
  @sprite-arrow-right-hover15x-width: 17px;
  @sprite-arrow-right-hover15x-height: 30px;
  @sprite-arrow-right-hover15x-total-width: 168px;
  @sprite-arrow-right-hover15x-total-height: 723px;
  @sprite-arrow-right-hover15x-image: 'sprite@1.5x.png';
  @sprite-arrow-right-hover15x: 0px 136px 0px -136px 17px 30px 168px 723px 'sprite@1.5x.png';
  @sprite-arrow-right15x-x: 0px;
  @sprite-arrow-right15x-y: 166px;
  @sprite-arrow-right15x-offset-x: 0px;
  @sprite-arrow-right15x-offset-y: -166px;
  @sprite-arrow-right15x-width: 17px;
  @sprite-arrow-right15x-height: 30px;
  @sprite-arrow-right15x-total-width: 168px;
  @sprite-arrow-right15x-total-height: 723px;
  @sprite-arrow-right15x-image: 'sprite@1.5x.png';
  @sprite-arrow-right15x: 0px 166px 0px -166px 17px 30px 168px 723px 'sprite@1.5x.png';
  @sprite-bank-card15x-x: 0px;
  @sprite-bank-card15x-y: 338px;
  @sprite-bank-card15x-offset-x: 0px;
  @sprite-bank-card15x-offset-y: -338px;
  @sprite-bank-card15x-width: 56px;
  @sprite-bank-card15x-height: 39px;
  @sprite-bank-card15x-total-width: 168px;
  @sprite-bank-card15x-total-height: 723px;
  @sprite-bank-card15x-image: 'sprite@1.5x.png';
  @sprite-bank-card15x: 0px 338px 0px -338px 56px 39px 168px 723px 'sprite@1.5x.png';
  @sprite-broom-black15x-x: 0px;
  @sprite-broom-black15x-y: 377px;
  @sprite-broom-black15x-offset-x: 0px;
  @sprite-broom-black15x-offset-y: -377px;
  @sprite-broom-black15x-width: 38px;
  @sprite-broom-black15x-height: 41px;
  @sprite-broom-black15x-total-width: 168px;
  @sprite-broom-black15x-total-height: 723px;
  @sprite-broom-black15x-image: 'sprite@1.5x.png';
  @sprite-broom-black15x: 0px 377px 0px -377px 38px 41px 168px 723px 'sprite@1.5x.png';
  @sprite-broom-white15x-x: 0px;
  @sprite-broom-white15x-y: 300px;
  @sprite-broom-white15x-offset-x: 0px;
  @sprite-broom-white15x-offset-y: -300px;
  @sprite-broom-white15x-width: 38px;
  @sprite-broom-white15x-height: 38px;
  @sprite-broom-white15x-total-width: 168px;
  @sprite-broom-white15x-total-height: 723px;
  @sprite-broom-white15x-image: 'sprite@1.5x.png';
  @sprite-broom-white15x: 0px 300px 0px -300px 38px 38px 168px 723px 'sprite@1.5x.png';
  @sprite-callout15x-x: 0px;
  @sprite-callout15x-y: 0px;
  @sprite-callout15x-offset-x: 0px;
  @sprite-callout15x-offset-y: 0px;
  @sprite-callout15x-width: 14px;
  @sprite-callout15x-height: 17px;
  @sprite-callout15x-total-width: 168px;
  @sprite-callout15x-total-height: 723px;
  @sprite-callout15x-image: 'sprite@1.5x.png';
  @sprite-callout15x: 0px 0px 0px 0px 14px 17px 168px 723px 'sprite@1.5x.png';
  @sprite-entrance15x-x: 0px;
  @sprite-entrance15x-y: 34px;
  @sprite-entrance15x-offset-x: 0px;
  @sprite-entrance15x-offset-y: -34px;
  @sprite-entrance15x-width: 18px;
  @sprite-entrance15x-height: 18px;
  @sprite-entrance15x-total-width: 168px;
  @sprite-entrance15x-total-height: 723px;
  @sprite-entrance15x-image: 'sprite@1.5x.png';
  @sprite-entrance15x: 0px 34px 0px -34px 18px 18px 168px 723px 'sprite@1.5x.png';
  @sprite-facebook15x-x: 0px;
  @sprite-facebook15x-y: 418px;
  @sprite-facebook15x-offset-x: 0px;
  @sprite-facebook15x-offset-y: -418px;
  @sprite-facebook15x-width: 23px;
  @sprite-facebook15x-height: 44px;
  @sprite-facebook15x-total-width: 168px;
  @sprite-facebook15x-total-height: 723px;
  @sprite-facebook15x-image: 'sprite@1.5x.png';
  @sprite-facebook15x: 0px 418px 0px -418px 23px 44px 168px 723px 'sprite@1.5x.png';
  @sprite-marker15x-x: 0px;
  @sprite-marker15x-y: 462px;
  @sprite-marker15x-offset-x: 0px;
  @sprite-marker15x-offset-y: -462px;
  @sprite-marker15x-width: 26px;
  @sprite-marker15x-height: 44px;
  @sprite-marker15x-total-width: 168px;
  @sprite-marker15x-total-height: 723px;
  @sprite-marker15x-image: 'sprite@1.5x.png';
  @sprite-marker15x: 0px 462px 0px -462px 26px 44px 168px 723px 'sprite@1.5x.png';
  @sprite-pause15x-x: 0px;
  @sprite-pause15x-y: 52px;
  @sprite-pause15x-offset-x: 0px;
  @sprite-pause15x-offset-y: -52px;
  @sprite-pause15x-width: 15px;
  @sprite-pause15x-height: 24px;
  @sprite-pause15x-total-width: 168px;
  @sprite-pause15x-total-height: 723px;
  @sprite-pause15x-image: 'sprite@1.5x.png';
  @sprite-pause15x: 0px 52px 0px -52px 15px 24px 168px 723px 'sprite@1.5x.png';
  @sprite-play15x-x: 0px;
  @sprite-play15x-y: 196px;
  @sprite-play15x-offset-x: 0px;
  @sprite-play15x-offset-y: -196px;
  @sprite-play15x-width: 17px;
  @sprite-play15x-height: 30px;
  @sprite-play15x-total-width: 168px;
  @sprite-play15x-total-height: 723px;
  @sprite-play15x-image: 'sprite@1.5x.png';
  @sprite-play15x: 0px 196px 0px -196px 17px 30px 168px 723px 'sprite@1.5x.png';
  @sprite-sun15x-x: 0px;
  @sprite-sun15x-y: 598px;
  @sprite-sun15x-offset-x: 0px;
  @sprite-sun15x-offset-y: -598px;
  @sprite-sun15x-width: 48px;
  @sprite-sun15x-height: 51px;
  @sprite-sun15x-total-width: 168px;
  @sprite-sun15x-total-height: 723px;
  @sprite-sun15x-image: 'sprite@1.5x.png';
  @sprite-sun15x: 0px 598px 0px -598px 48px 51px 168px 723px 'sprite@1.5x.png';
  @sprite-twitter15x-x: 0px;
  @sprite-twitter15x-y: 226px;
  @sprite-twitter15x-offset-x: 0px;
  @sprite-twitter15x-offset-y: -226px;
  @sprite-twitter15x-width: 41px;
  @sprite-twitter15x-height: 36px;
  @sprite-twitter15x-total-width: 168px;
  @sprite-twitter15x-total-height: 723px;
  @sprite-twitter15x-image: 'sprite@1.5x.png';
  @sprite-twitter15x: 0px 226px 0px -226px 41px 36px 168px 723px 'sprite@1.5x.png';
  @sprite-two-markers15x-x: 0px;
  @sprite-two-markers15x-y: 506px;
  @sprite-two-markers15x-offset-x: 0px;
  @sprite-two-markers15x-offset-y: -506px;
  @sprite-two-markers15x-width: 38px;
  @sprite-two-markers15x-height: 45px;
  @sprite-two-markers15x-total-width: 168px;
  @sprite-two-markers15x-total-height: 723px;
  @sprite-two-markers15x-image: 'sprite@1.5x.png';
  @sprite-two-markers15x: 0px 506px 0px -506px 38px 45px 168px 723px 'sprite@1.5x.png';
  @sprite-vk15x-x: 0px;
  @sprite-vk15x-y: 262px;
  @sprite-vk15x-offset-x: 0px;
  @sprite-vk15x-offset-y: -262px;
  @sprite-vk15x-width: 27px;
  @sprite-vk15x-height: 38px;
  @sprite-vk15x-total-width: 168px;
  @sprite-vk15x-total-height: 723px;
  @sprite-vk15x-image: 'sprite@1.5x.png';
  @sprite-vk15x: 0px 262px 0px -262px 27px 38px 168px 723px 'sprite@1.5x.png';

  .sprite-width(@sprite) {
    width: ~`"@{sprite}".split(', ')[4]`;
  }

  .sprite-height(@sprite) {
    height: ~`"@{sprite}".split(', ')[5]`;
  }

  .sprite-position(@sprite) {
    @sprite-offset-x: ~`"@{sprite}".split(', ')[2]`;
    @sprite-offset-y: ~`"@{sprite}".split(', ')[3]`;
    background-position: @sprite-offset-x  @sprite-offset-y;
  }

  .sprite-image(@sprite) {
    @sprite-image: ~`"@{sprite}".split(', ')[8].slice(1, -2)`;
    background-image: url(@sprite-image);
  }

  .sprite(@sprite) {
    .sprite-image(@sprite);
    .sprite-position(@sprite);
    .sprite-width(@sprite);
    .sprite-height(@sprite);
  }
