  @sprite-2gis-logotype-dark-x: 0px;
  @sprite-2gis-logotype-dark-y: 350px;
  @sprite-2gis-logotype-dark-offset-x: 0px;
  @sprite-2gis-logotype-dark-offset-y: -350px;
  @sprite-2gis-logotype-dark-width: 70px;
  @sprite-2gis-logotype-dark-height: 31px;
  @sprite-2gis-logotype-dark-total-width: 370px;
  @sprite-2gis-logotype-dark-total-height: 464px;
  @sprite-2gis-logotype-dark-image: 'sprite.png';
  @sprite-2gis-logotype-dark: 0px 350px 0px -350px 70px 31px 370px 464px 'sprite.png';
  @sprite-2gis-logotype-x: 0px;
  @sprite-2gis-logotype-y: 415px;
  @sprite-2gis-logotype-offset-x: 0px;
  @sprite-2gis-logotype-offset-y: -415px;
  @sprite-2gis-logotype-width: 112px;
  @sprite-2gis-logotype-height: 49px;
  @sprite-2gis-logotype-total-width: 370px;
  @sprite-2gis-logotype-total-height: 464px;
  @sprite-2gis-logotype-image: 'sprite.png';
  @sprite-2gis-logotype: 0px 415px 0px -415px 112px 49px 370px 464px 'sprite.png';
  @sprite-array-down-x: 0px;
  @sprite-array-down-y: 12px;
  @sprite-array-down-offset-x: 0px;
  @sprite-array-down-offset-y: -12px;
  @sprite-array-down-width: 20px;
  @sprite-array-down-height: 11px;
  @sprite-array-down-total-width: 370px;
  @sprite-array-down-total-height: 464px;
  @sprite-array-down-image: 'sprite.png';
  @sprite-array-down: 0px 12px 0px -12px 20px 11px 370px 464px 'sprite.png';
  @sprite-arrow-left-x: 0px;
  @sprite-arrow-left-y: 115px;
  @sprite-arrow-left-offset-x: 0px;
  @sprite-arrow-left-offset-y: -115px;
  @sprite-arrow-left-width: 11px;
  @sprite-arrow-left-height: 20px;
  @sprite-arrow-left-total-width: 370px;
  @sprite-arrow-left-total-height: 464px;
  @sprite-arrow-left-image: 'sprite.png';
  @sprite-arrow-left: 0px 115px 0px -115px 11px 20px 370px 464px 'sprite.png';
  @sprite-arrow-right-x: 0px;
  @sprite-arrow-right-y: 75px;
  @sprite-arrow-right-offset-x: 0px;
  @sprite-arrow-right-offset-y: -75px;
  @sprite-arrow-right-width: 11px;
  @sprite-arrow-right-height: 20px;
  @sprite-arrow-right-total-width: 370px;
  @sprite-arrow-right-total-height: 464px;
  @sprite-arrow-right-image: 'sprite.png';
  @sprite-arrow-right: 0px 75px 0px -75px 11px 20px 370px 464px 'sprite.png';
  @sprite-bank-card-x: 0px;
  @sprite-bank-card-y: 209px;
  @sprite-bank-card-offset-x: 0px;
  @sprite-bank-card-offset-y: -209px;
  @sprite-bank-card-width: 37px;
  @sprite-bank-card-height: 26px;
  @sprite-bank-card-total-width: 370px;
  @sprite-bank-card-total-height: 464px;
  @sprite-bank-card-image: 'sprite.png';
  @sprite-bank-card: 0px 209px 0px -209px 37px 26px 370px 464px 'sprite.png';
  @sprite-broom-black-x: 0px;
  @sprite-broom-black-y: 235px;
  @sprite-broom-black-offset-x: 0px;
  @sprite-broom-black-offset-y: -235px;
  @sprite-broom-black-width: 25px;
  @sprite-broom-black-height: 27px;
  @sprite-broom-black-total-width: 370px;
  @sprite-broom-black-total-height: 464px;
  @sprite-broom-black-image: 'sprite.png';
  @sprite-broom-black: 0px 235px 0px -235px 25px 27px 370px 464px 'sprite.png';
  @sprite-broom-white-x: 0px;
  @sprite-broom-white-y: 159px;
  @sprite-broom-white-offset-x: 0px;
  @sprite-broom-white-offset-y: -159px;
  @sprite-broom-white-width: 25px;
  @sprite-broom-white-height: 25px;
  @sprite-broom-white-total-width: 370px;
  @sprite-broom-white-total-height: 464px;
  @sprite-broom-white-image: 'sprite.png';
  @sprite-broom-white: 0px 159px 0px -159px 25px 25px 370px 464px 'sprite.png';
  @sprite-callout-x: 0px;
  @sprite-callout-y: 1px;
  @sprite-callout-offset-x: 0px;
  @sprite-callout-offset-y: -1px;
  @sprite-callout-width: 9px;
  @sprite-callout-height: 11px;
  @sprite-callout-total-width: 370px;
  @sprite-callout-total-height: 464px;
  @sprite-callout-image: 'sprite.png';
  @sprite-callout: 0px 1px 0px -1px 9px 11px 370px 464px 'sprite.png';
  @sprite-entrance-x: 0px;
  @sprite-entrance-y: 35px;
  @sprite-entrance-offset-x: 0px;
  @sprite-entrance-offset-y: -35px;
  @sprite-entrance-width: 12px;
  @sprite-entrance-height: 12px;
  @sprite-entrance-total-width: 370px;
  @sprite-entrance-total-height: 464px;
  @sprite-entrance-image: 'sprite.png';
  @sprite-entrance: 0px 35px 0px -35px 12px 12px 370px 464px 'sprite.png';
  @sprite-facebook-x: 0px;
  @sprite-facebook-y: 262px;
  @sprite-facebook-offset-x: 0px;
  @sprite-facebook-offset-y: -262px;
  @sprite-facebook-width: 15px;
  @sprite-facebook-height: 29px;
  @sprite-facebook-total-width: 370px;
  @sprite-facebook-total-height: 464px;
  @sprite-facebook-image: 'sprite.png';
  @sprite-facebook: 0px 262px 0px -262px 15px 29px 370px 464px 'sprite.png';
  @sprite-heatmap-gradient-x: 0px;
  @sprite-heatmap-gradient-y: 0px;
  @sprite-heatmap-gradient-offset-x: 0px;
  @sprite-heatmap-gradient-offset-y: 0px;
  @sprite-heatmap-gradient-width: 370px;
  @sprite-heatmap-gradient-height: 1px;
  @sprite-heatmap-gradient-total-width: 370px;
  @sprite-heatmap-gradient-total-height: 464px;
  @sprite-heatmap-gradient-image: 'sprite.png';
  @sprite-heatmap-gradient: 0px 0px 0px 0px 370px 1px 370px 464px 'sprite.png';
  @sprite-marker-x: 0px;
  @sprite-marker-y: 291px;
  @sprite-marker-offset-x: 0px;
  @sprite-marker-offset-y: -291px;
  @sprite-marker-width: 17px;
  @sprite-marker-height: 29px;
  @sprite-marker-total-width: 370px;
  @sprite-marker-total-height: 464px;
  @sprite-marker-image: 'sprite.png';
  @sprite-marker: 0px 291px 0px -291px 17px 29px 370px 464px 'sprite.png';
  @sprite-pause-x: 0px;
  @sprite-pause-y: 59px;
  @sprite-pause-offset-x: 0px;
  @sprite-pause-offset-y: -59px;
  @sprite-pause-width: 10px;
  @sprite-pause-height: 16px;
  @sprite-pause-total-width: 370px;
  @sprite-pause-total-height: 464px;
  @sprite-pause-image: 'sprite.png';
  @sprite-pause: 0px 59px 0px -59px 10px 16px 370px 464px 'sprite.png';
  @sprite-play-x: 0px;
  @sprite-play-y: 95px;
  @sprite-play-offset-x: 0px;
  @sprite-play-offset-y: -95px;
  @sprite-play-width: 11px;
  @sprite-play-height: 20px;
  @sprite-play-total-width: 370px;
  @sprite-play-total-height: 464px;
  @sprite-play-image: 'sprite.png';
  @sprite-play: 0px 95px 0px -95px 11px 20px 370px 464px 'sprite.png';
  @sprite-progress-bar-blue-x: 0px;
  @sprite-progress-bar-blue-y: 47px;
  @sprite-progress-bar-blue-offset-x: 0px;
  @sprite-progress-bar-blue-offset-y: -47px;
  @sprite-progress-bar-blue-width: 30px;
  @sprite-progress-bar-blue-height: 12px;
  @sprite-progress-bar-blue-total-width: 370px;
  @sprite-progress-bar-blue-total-height: 464px;
  @sprite-progress-bar-blue-image: 'sprite.png';
  @sprite-progress-bar-blue: 0px 47px 0px -47px 30px 12px 370px 464px 'sprite.png';
  @sprite-progress-bar-yellow-x: 0px;
  @sprite-progress-bar-yellow-y: 23px;
  @sprite-progress-bar-yellow-offset-x: 0px;
  @sprite-progress-bar-yellow-offset-y: -23px;
  @sprite-progress-bar-yellow-width: 30px;
  @sprite-progress-bar-yellow-height: 12px;
  @sprite-progress-bar-yellow-total-width: 370px;
  @sprite-progress-bar-yellow-total-height: 464px;
  @sprite-progress-bar-yellow-image: 'sprite.png';
  @sprite-progress-bar-yellow: 0px 23px 0px -23px 30px 12px 370px 464px 'sprite.png';
  @sprite-sun-x: 0px;
  @sprite-sun-y: 381px;
  @sprite-sun-offset-x: 0px;
  @sprite-sun-offset-y: -381px;
  @sprite-sun-width: 32px;
  @sprite-sun-height: 34px;
  @sprite-sun-total-width: 370px;
  @sprite-sun-total-height: 464px;
  @sprite-sun-image: 'sprite.png';
  @sprite-sun: 0px 381px 0px -381px 32px 34px 370px 464px 'sprite.png';
  @sprite-twitter-x: 0px;
  @sprite-twitter-y: 135px;
  @sprite-twitter-offset-x: 0px;
  @sprite-twitter-offset-y: -135px;
  @sprite-twitter-width: 27px;
  @sprite-twitter-height: 24px;
  @sprite-twitter-total-width: 370px;
  @sprite-twitter-total-height: 464px;
  @sprite-twitter-image: 'sprite.png';
  @sprite-twitter: 0px 135px 0px -135px 27px 24px 370px 464px 'sprite.png';
  @sprite-two-markers-x: 0px;
  @sprite-two-markers-y: 320px;
  @sprite-two-markers-offset-x: 0px;
  @sprite-two-markers-offset-y: -320px;
  @sprite-two-markers-width: 25px;
  @sprite-two-markers-height: 30px;
  @sprite-two-markers-total-width: 370px;
  @sprite-two-markers-total-height: 464px;
  @sprite-two-markers-image: 'sprite.png';
  @sprite-two-markers: 0px 320px 0px -320px 25px 30px 370px 464px 'sprite.png';
  @sprite-vk-x: 0px;
  @sprite-vk-y: 184px;
  @sprite-vk-offset-x: 0px;
  @sprite-vk-offset-y: -184px;
  @sprite-vk-width: 18px;
  @sprite-vk-height: 25px;
  @sprite-vk-total-width: 370px;
  @sprite-vk-total-height: 464px;
  @sprite-vk-image: 'sprite.png';
  @sprite-vk: 0px 184px 0px -184px 18px 25px 370px 464px 'sprite.png';

  .sprite-width(@sprite) {
    width: ~`"@{sprite}".split(', ')[4]`;
  }

  .sprite-height(@sprite) {
    height: ~`"@{sprite}".split(', ')[5]`;
  }

  .sprite-position(@sprite) {
    @sprite-offset-x: ~`"@{sprite}".split(', ')[2]`;
    @sprite-offset-y: ~`"@{sprite}".split(', ')[3]`;
    background-position: @sprite-offset-x  @sprite-offset-y;
  }

  .sprite-image(@sprite) {
    @sprite-image: ~`"@{sprite}".split(', ')[8].slice(1, -2)`;
    background-image: url(@sprite-image);
  }

  .sprite(@sprite) {
    .sprite-image(@sprite);
    .sprite-position(@sprite);
    .sprite-width(@sprite);
    .sprite-height(@sprite);
  }
