@isIE: false;

@import (once) 'mixins.less';
@import (once,less) 'reset.css';
@import (once) 'fonts.less';
@import (once) 'marker-cluster.less';


.page {
    position: relative;
    min-height: 100%;
    height: 100%;
    font: normal 14px/28px Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    }
    .page__body {
        position: relative;
        min-width: 400px;
        min-height: 400px;
        height: 100%;
        text-align: center;
        }


.map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: url('../img/samples/page.png') 0 0 repeat #e7e7de;

    &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 4;
        }
    }
.map_has-overlay_dark {
    &:after {
        background-color: rgba(57, 57, 57, 0.25);
        content: '';
        }
    }
.map_has-overlay_darker {
    &:after {
        background-color: rgba(57, 57, 57, 0.4);
        content: '';
        }
    }


.intro {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    background-color: rgba(57, 57, 57, 0.35);
    transition: z-index 0.2s;
    }
.intro_is-started_true {
    z-index: -1;
    }
    .intro__header {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        box-sizing: border-box;
        margin: -216px auto 0;
        padding: 166px 0 0 0;
        width: 432px;
        height: 432px;
        border-radius: 50%;
        background-color: rgba(57, 57, 57, 0.93);
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.7);
        color: #fff;
        text-align: center;
        white-space: normal;
        font: normal 100px/100px 'SuisseIntlCond', Arial, sans-serif;
        opacity: 1;
        cursor: pointer;
        transition:
            margin-top 0.15s,
            top 1.4s,
            opacity 0.1s;

        &:hover {
            margin-top: -236px;
            }

        &:before,
        &:after {
            position: absolute;
            left: 50%;
            background-size: 100%;
            content: '';
            }

        &:before {
            .noRepeatableBg('2gis-logotype');
            top: 71px;
            margin-left: -56px;
            width: 112px;
            height: 49px;
            }
        &:after {
            .noRepeatableBg('array-down');
            top: 354px;
            margin-left: -10px;
            width: 20px;
            height: 11px;
            transition: top 0.15s;
            }

        &:hover:after {
            top: 369px;
            }
        }
    .intro_is-started_true .intro__header {
        top: -200%;
        margin-top: 0;
        opacity: 0;
        }
        .intro__api-version {
            color: #a4ce3b;
            }
        .intro__subheader {
            display: block;
            margin-top: 5px;
            color: #cfcfcf;
            text-transform: uppercase;
            font-size: 28px;
            line-height: 34px;
            }


.start {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    opacity: 1;
    transition:
        opacity 0.2s,
        z-index 0.4s;

    &:before {
        display: inline-block;
        height: 100%;
        content: '';
        vertical-align: middle;
        line-height: 100%;
        }
    }
.start_is-started_true {
    z-index: -1;
    opacity: 0;
    }
    .start__content {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        }
        .start__button {
            display: block;
            margin: 0 auto;
            margin: 0 0 47px;
            width: 302px;
            height: 74px;
            outline: none;
            border-radius: 11px;
            background-color: #0da5d5;
            background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2));
            box-shadow:
                0 1px 1px 0 rgba(0, 0, 0, 0.3),
                0 2px 0 0 rgba(255, 255, 255, 0.2) inset;
            color: #fff;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            font: normal 28px/80px 'SuisseIntlCond', Arial, sans-serif;

            &:focus,
            &:hover {
                background-color: #45b7dc;
                background-image: none;
                }

            &:active {
                background-color: #45b7dc;
                background-image: none;
                box-shadow:
                    0 0 1px 0 rgba(0, 0, 0, 0.2),
                    0 2px 4px 1px rgba(0, 0, 0, 0.2) inset;
                }
            }


.follow-us {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    }
    .follow-us__link {
        position: relative;
        display: inline-block;
        margin: 0 0 0 61px;
        width: 46px;
        height: 46px;
        outline: none;
        color: transparent;
        vertical-align: top;
        text-align: center;
        font-size: 0;

        &:first-child {
            margin-left: 0;
            }

        &:before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: 50%;
            background-color: #fff;
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.12));
            box-shadow:
                0 2px 3px 0 rgba(0, 0, 0, 0.4),
                0 2px 0 0 #fff inset;
            content: '';
            transition:
                top 0.08s,
                right 0.08s,
                bottom 0.08s,
                left 0.08s;
            }

        &:hover:before {
            top: -5px;
            right: -5px;
            bottom: -5px;
            left: -5px;
            }

        &:active:before {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
            box-shadow:
                0 -1px 1px 0 rgba(0, 0, 0, 0.3),
                0 2px 4px 1px rgba(0, 0, 0, 0.2) inset;
            transition:
                top 0.05s,
                right 0.05s,
                bottom 0.05s,
                left 0.05s;
            }

        &:after {
            position: relative;
            z-index: 1;
            display: inline-block;
            content: '';
            }
        }
        .follow-us__link_name_twitter:after {
            .noRepeatableBg('twitter');
            margin: 12px 0 0 1px;
            width: 27px;
            height: 24px;
            }
        .follow-us__link_name_facebook:after {
            .noRepeatableBg('facebook');
            margin: 10px 0 0 -1px;
            width: 15px;
            height: 29px;
            }
        .follow-us__link_name_vk:after {
            .noRepeatableBg('vk');
            margin: 12px 0 0 1px;
            width: 18px;
            height: 25px;
            }


.header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 0;
    }
    .header__panel {
        position: absolute;
        top: 48px;
        left: 55px;
        }


.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 0;
    }
    .footer__panel {
        position: absolute;
        bottom: 48px;
        left: 55px;
        z-index: 3;
        display: none;
        }
    .footer__panel_is-active_true {
        display: block;
        }
    .footer__panel_name_links {
        right: 0;
        bottom: 45px;
        left: 0;
        }
        .footer__link {
            display: inline-block;
            margin: 0 0 0 36px;
            outline: none;
            color: #E5E5E5;

            &:hover {
                color: #fff;
                }

            &:first-child {
                margin-left: 0;
                }
            }


.panel {
    text-align: left;
    }
.panel_type_white {
    padding: 13px;
    border: 2px solid #fff;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
    color: #393939;
    }
.panel_type_black {
    padding: 19px;
    border-radius: 3px;
    background-color: rgba(57, 57, 57, 0.93);
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.7);
    color: #fff;
    }


.bankomats-panel {
    box-sizing: border-box;
    padding: 10px 15px;
    width: 174px;
    }
    .bankomats-panel__title {
        position: relative;
        display: inline-block;
        padding: 0 0 0 54px;
        font: normal 14px/16px Arial, sans-serif;

        &:before {
            .noRepeatableBg('bank-card');
            position: absolute;
            top: 3px;
            left: 0;
            content: '';
            }
        }


.features {
    position: relative;
    display: none;
    box-sizing: border-box;
    min-height: 100px;
    width: 400px;
    font: normal 14px/19px Arial, sans-serif;
    }
.features_is-visible_true {
    display: block;
    }
    .features__arrow-link {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1;
        width: 58px;
        outline: none;
        color: transparent;
        font-size: 0;

        &:after {
            position: absolute;
            top: 58px;
            content: '';
            }
        }
    .features__arrow-link_to_left {
        left: 0;

        &:after {
            .noRepeatableBg('arrow-left');
            left: 19px;
            }

        &:hover:after {
            .noRepeatableBg('arrow-left-hover');
            }
        }
    .features__arrow-link_to_right {
        right: 0;

        &:after {
            .noRepeatableBg('arrow-right');
            right: 19px;
            }

        &:hover:after {
            .noRepeatableBg('arrow-right-hover');
            }
        }
    .features__table-of-contents {
        overflow: hidden;
        margin: -2px 0 23px 41px;
        padding: 2px 0 2px 2px;
        }
        .features__table-of-contents-item {
            position: relative;
            float: left;
            margin: 0 0 0 12px;
            width: 7px;
            height: 7px;
            color: transparent;
            font-size: 0;
            cursor: pointer;

            &:first-child {
                margin-left: 0;
                }

            &:before {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                border-radius: 50%;
                background-color: #6e6e6e;
                content: '';
                }
            }
            .features__table-of-contents-item_is-active_true:before {
                top: -2px;
                right: -1px;
                bottom: -1px;
                left: -2px;
                background-color: #32aed7;
                }
    .features__list {
        position: relative;
        left: 19px;
        margin: 0 0 0 -38px;
        white-space: nowrap;
        }
        .features__list-item {
            display: none;
            padding: 0 56px;
            vertical-align: top;
            white-space: normal;
            }
            .features__list-item_is-active_true {
                display: inline-block;
                }
        .features__list-item_name_modularity {
            }
            .features__list-item-section {
                position: relative;
                left: 56px;
                margin-left: -112px;
                padding: 0 57px;
                border-top: 1px solid #585856;

                &:before {
                    position: absolute;
                    top: -2px;
                    right: 0;
                    left: 0;
                    height: 1px;
                    background-color: #2e2e2e;
                    content: '';
                    }

                &:first-child {
                    border-top: none;
                    }

                &:first-child:before {
                    content: none;
                    }
                }
            .features__list-item_name_lightness .features__list-item-section:first-child {
                padding-bottom: 39px;
                }
            .features__list-item_name_modularity .features__list-item-section {
                padding-top: 34px;
                padding-bottom: 16px;

                &:first-child {
                    padding-top: 0;
                    padding-bottom: 30px;
                    }
                }
            .features__list-item_name_themes .features__list-item-section:first-child {
                padding-bottom: 16px;
                }
            .features__list-item_name_all-devices .features__list-item-section {
                padding-top: 35px;
                padding-bottom: 16px;

                &:first-child {
                    padding-top: 0;
                    padding-bottom: 30px;
                    }
                }
            .features__list-item-section_is-bottom_true {
                position: relative;
                z-index: 3;
                }
                .features__header {
                    margin: 0 0 13px 0;
                    font: normal 28px/34px 'SuisseIntlCond', Arial, sans-serif;
                    }
                .features__discription {
                    margin: 19px 0;
                    }
                .features__round-link {
                    position: relative;
                    display: inline-block;
                    margin: 0 0 0 38px;
                    width: 46px;
                    height: 46px;
                    outline: none;
                    vertical-align: top;

                    &:first-child {
                        margin: 0 0 0 4px;
                        }

                    &:before {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        border-radius: 50%;
                        background-color: #fff;
                        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.12));
                        box-shadow:
                            0 2px 3px 0 rgba(0, 0, 0, 0.4),
                            0 2px 0 0 #fff inset;
                        content: '';
                        transition:
                            top 0.08s,
                            right 0.08s,
                            bottom 0.08s,
                            left 0.08s;
                        }

                    &:after {
                        position: relative;
                        z-index: 1;
                        display: inline-block;
                        content: '';
                        }

                    &:hover:before {
                        top: -6px;
                        right: -6px;
                        bottom: -6px;
                        left: -6px;
                        box-shadow:
                            0 2px 3px 0 rgba(0, 0, 0, 0.4),
                            0 2px 0 0 #fff inset;
                        transition:
                            top 0.05s,
                            right 0.05s,
                            bottom 0.05s,
                            left 0.05s;
                        }

                    &-is-active_true:before,
                    &:active:hover:before {
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
                        box-shadow:
                            0 -2px 2px 0 rgba(0, 0, 0, 0.2),
                            0 2px 4px 1px rgba(0, 0, 0, 0.2) inset;
                        }
                    }
                .features__round-link_name_smartphone,
                .features__round-link_name_notebook,
                .features__round-link_name_tablet {
                    margin-left: 39px;
                    }
                    .features__round-link_name_two-markers:after {
                        .noRepeatableBg('two-markers');
                        margin: 9px 0 0 11px;
                        }
                    .features__round-link_name_sun:after {
                        .noRepeatableBg('sun');
                        margin: 7px 0 0 7px;
                        }
                    .features__round-link_name_marker:after {
                        .noRepeatableBg('marker');
                        margin: 10px 0 0 14px;
                        }
                    .features__round-link_name_smartphone:after {
                        .noRepeatableBg('smartphone');
                        margin: 10px 0 0 15px;
                        }
                    .features__round-link_name_notebook:after {
                        .noRepeatableBg('notebook');
                        margin: 13px 0 0 9px;
                        }
                    .features__round-link_name_tablet:after {
                        .noRepeatableBg('tablet');
                        margin: 10px 0 0 12px;
                        }


.billing-dynamics {
    }
    .billing-dynamics__graph-wrapper {
        padding-top: 27px;
        white-space: nowrap;
        }
        .billing-dynamics__graph {
            margin: 0 0 12px;
            border-radius: 3px;
            background: url('../img/heatmap-gradient.png') 0 0 repeat-y #ed4939;
            background-image: linear-gradient(to right, #24bff1, #fdc854, #fd7a14, #ed4939);
            font-size: 0;
            }
            .billing-dynamics__graph-point {
                display: inline-block;
                padding: 0 1px;
                width: 113px;
                height: 22px;
                text-align: right;
                font-size: 14px;

                &:first-child {
                    width: 23px;
                    text-align: left;
                    }
                }
                .billing-dynamics__graph-point-value {
                    position: relative;
                    top: -27px;
                    display: inline-block;
                    color: #393939;
                    text-align: center;
                    font-weight: bold;

                    &:after {
                        position: absolute;
                        top: 16px;
                        left: 50%;
                        width: 1px;
                        height: 8px;
                        background-color: #393939;
                        content: '';
                        }
                    }

    .billing-dynamics__description { }


.lightness-panel {
    width: 370px;
    }
    .lightness-panel__counter {
        margin-left: 245px;
        white-space: nowrap;
        font: normal 28px/26px 'SuisseIntlCond', Arial, sans-serif;
        }
    .lightness-panel__version {
        margin: 0 0 1px;
        }

    .lightness-panel__version_of_new-api { }

    .lightness-panel__version_of_old-api { }

        .lightness-panel__version-title {
            position: relative;
            display: block;
            margin: 0 0 7px 0;
            padding: 0 0 0 16px;
            color: #393939;

            &:before {
                position: absolute;
                top: 3px;
                left: 0;
                width: 3px;
                height: 3px;
                border: 3px solid #32aed7;
                border-radius: 50%;
                content: '';
                }
            }
            .lightness-panel__version_of_old-api .lightness-panel__version-title:before {
                border-color: #fdc854;
                }

        .lightness-panel__progress-bar {
            display: block;
            overflow: hidden;
            margin: 0 0 6px 0;
            height: 12px;
            border-radius: 3px;
            background-color: #393939;
            }
            .lightness-panel__progress-bar-fill {
                float: left;
                width: 0;
                height: 100%;
                background: transparent;
                background-size: 30px 12px;
                animation: progress-bar-fill 0.4s linear infinite;
                }
            .lightness-panel__version_of_new-api .lightness-panel__progress-bar-fill {
                background-color: #32aed7;
                background-image: linear-gradient(135deg, #32aed7 25%, #6cc6e3 25%, #6cc6e3 60%, #32aed7 60%);
                }
            .lightness-panel__version_of_old-api .lightness-panel__progress-bar-fill {
                background-color: #fdc854;
                background-image: linear-gradient(135deg, #fdc854 25%, #fdd985 25%, #fdd985 60%, #fdc854 60%);
                animation-duration: 0.6s;
                }
            .lightness-panel__progress-bar-fill-is_loaded {
                animation-play-state: paused;
                }

            @keyframes progress-bar-fill {
                to {
                    background-position-x: 30px;
                    }
                }

        .lightness-panel__version-speed-level {
            color: #575757;
            text-align: right;
            font-size: 12px;
            }


.pseudocard {
    }
    .pseudocard__header {
        margin: 0 0 6px 0;
        color: #fdc854;
        font: normal 22px/23px 'SuisseIntlCond', Arial, sans-serif;
        }
    .pseudocard__address {
        position: relative;
        margin: 0 0 8px 0;
        color: #aaa;

        &:before {
            .noRepeatableBg('callout');
            position: absolute;
            top: 2px;
            left: -26px;
            content: '';
            }
        }
    .pseudocard__route-instructions {
        margin: 0 -10px 22px 0;
        text-decoration: line-through;
        }
    .pseudocard__try-it {
        margin: 0 0 22px 0;
        }
        .pseudocard__find-entrance-link {
            margin: 0 0 0 7px;
            padding: 5px 10px 4px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 2px;
            background-color: rgba(0, 0, 0, 0.2);
            color: #e6e6e6;
            text-decoration: none;
            font-size: 12px;

            &:before {
                .noRepeatableBg('entrance');
                display: inline-block;
                margin-right: 4px;
                content: '';
                vertical-align: -1px;
                }
            }


.entrances-examples {
    padding: 19px 0 0 27px;
    }
    .entrances-examples__play-pause-button {
        position: relative;
        display: inline-block;
        margin: 0 20px 0 0;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #fff;
        background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.12));
        box-shadow:
            0 2px 2px 0 rgba(0, 0, 0, 0.3),
            0 2px 0 0 #fff inset;
        vertical-align: middle;

        &:after {
            .noRepeatableBg('play');
            position: absolute;
            top: 1px;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            content: '';
            }
        }
    .entrances-examples__play-pause-button:active,
    .entrances-examples__play-pause-button_is-played_true {
        background-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.15));
        box-shadow:
            0 -2px 2px 0 rgba(0, 0, 0, 0.2),
            0 2px 4px 1px rgba(0, 0, 0, 0.2) inset;

        &:after {
            .noRepeatableBg('pause');
            content: '';
            }
        }
    .entrances-examples__list {
        display: inline-block;
        }
        .entrances-examples__item {
            display: inline-block;
            margin-right: 23px;
            }
            .entrances-examples__example-link {
                padding: 4px 9px;
                border-radius: 4px;
                color: #fff;
                text-decoration: none;
                font-weight: bold;
                }
            .entrances-examples__example-link_is-shown_true {
                background-color: #fdc854;
                color: #000;
                }

.themes-switcher {
    margin-bottom: -19px;
    padding: 26px 62px;
    }
    .themes-switcher__switcher-link {
        position: relative;
        display: inline-block;
        width: 45px;
        height: 45px;
        outline: 0;
        vertical-align: top;
        font-size: 0;

        &:before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: 50%;
            background-color: #fff;
            background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.12));
            box-shadow:
                0 2px 2px 0 rgba(0, 0, 0, 0.3),
                0 2px 0 0 #fff inset;
            content: '';
            transition:
                top 0.08s,
                right 0.08s,
                bottom 0.08s,
                left 0.08s;
            }

        &:hover:before {
            top: -6px;
            right: -6px;
            bottom: -6px;
            left: -6px;
            box-shadow: inherit;
            }
        
        &.features__round-link-is-active_true:before,
        &:active:before {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
            box-shadow:
                0 -2px 2px 0 rgba(0, 0, 0, 0.3),
                0 2px 4px 1px rgba(0, 0, 0, 0.2) inset;
            transition:
                top 0.05s,
                right 0.05s,
                bottom 0.05s,
                left 0.05s;
            }

        &:after {
            .noRepeatableBg('broom-black');
            position: absolute;
            top: 2px;
            right: 0;
            bottom: 0;
            left: -1px;
            margin: auto;
            content: '';
            }
        }
    .themes-switcher__switcher-link_theme_light {
        margin: 0 34px 0 0;
        }
    .themes-switcher__switcher-link_theme_dark {
        &:before {
            background-color: #333;
            background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.12));
            box-shadow:
                0 2px 3px 0 rgba(0, 0, 0, 0.4),
                0 2px 0 0 #393939 inset;
            &:hover {
                box-shadow:
                    0 2px 3px 0 rgba(0, 0, 0, 0.4),
                    0 2px 0 0 #393939 inset;
                }
            }
        
        &.features__round-link-is-active_true:before,
        &:active:before {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
            box-shadow:
                0 -2px 2px 0 rgba(0, 0, 0, 0.3),
                0 2px 4px 1px rgba(0, 0, 0, 0.2) inset;
            transition:
                top 0.05s,
                right 0.05s,
                bottom 0.05s,
                left 0.05s;
            }
        
        &:after {
            .noRepeatableBg('broom-white');
            }
        }

.dg-control-round {
    text-align: left;
    }


.device {
    position: absolute;
    top: 48px;
    left: 520px;
    display: none;
    }
    .device__map {
        width: 100%;
        height: 100%;
        }
.device_is-visible_true {
    display: block;
    }


.tablet {
    box-sizing: border-box;
    padding: 72px 62px;
    width: 615px; // 491 + 2 * 62
    height: 799px; // 655 + 2 * 72
    border: 2px solid #fff;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.7);
    }
    .tablet__display {
        box-sizing: border-box;
        width: 491px;
        height: 655px;
        border: 2px solid #fff;
        background-color: rgba(255, 120, 0, 0.8);
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.7) inset;
        }


.loupe {
    position: relative;
    display: none;
    width: 142px;
    height: 142px;
    border: 17px solid rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    box-shadow:
        0 0 2px 2px #fff,
        0 0 2px 2px #fff inset;
    }
.loupe_is-visible_true {
    display: block;
    }
    .loupe__glass {
        position: absolute;
        top: 0;
        bottom: 0;
        box-sizing: border-box;
        width: 72px;
        border: 3px solid #393939;

        &:before {
            position: absolute;
            top: 50%;
            margin-top: -2px;
            width: 5px;
            height: 3px;
            background-color: #393939;
            content: '';
            }
        }
    .loupe__glass_type_usual {
        left: 0;
        border-radius: 70px 0 0 70px;

        &:before {
            left: 0;
            }
        }
    .loupe__glass_type_retina {
        right: 0;
        border-radius: 0 70px 70px 0;

        &:before {
            right: 0;
            }
        }
